/* Debian language css file for croatian - hr */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang=hr] q:before { content: "\201E"; }
html[lang=hr] q:after { content: "\201D"; }
html[lang=hr] q q:before { content: "\201E"; }
html[lang=hr] q q:after { content: "\201D"; }

html[lang=hr] blockquote.quote p:first-child:before { content: "\00BB"; }
html[lang=hr] blockquote.quote p:after { content: ""; }
html[lang=hr] blockquote.quote p.last:after { content: "\00AB"; }
